@import '../../sass/main.scss';

$border-radius: 5px;

.nav-file-item {
    cursor: pointer;
    border-radius: $border-radius $border-radius 0 0;
    border: 2px solid transparent;
    .close-tab {
        visibility: hidden;
    }
}

.nav-file-item.active {
    background-color: var(--bs-body-bg);
    .close-tab {
        visibility: visible;
    }
}

.nav-file-item:not(.active) {
    border: 2px solid var(--bs-secondary-bg);
    border-bottom: 2px solid transparent;
}

.nav-file-item:not(.active):hover {
    background-color: var(--bs-secondary-bg);
    .close-tab {
        visibility: visible;
    }
}
